@charset "UTF-8";
.nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 48em) {
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.nav__contenedor {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__contenedor--logo {
  width: 6.5rem;
}
.nav__contenedor__menu {
  display: flex;
  column-gap: 0.4rem;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: -1;
  }
  .nav__contenedor__menu.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s;
  }
}
.nav__contenedor__menu--link {
  color: rgb(108, 120, 147);
  font-size: 1.4rem;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menu--link {
    font-size: 2rem;
  }
}
.nav__contenedor__menu--link {
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
}
.nav__contenedor__menu--link:hover {
  background-color: rgba(5, 5, 5, 0.03);
  border-radius: 1rem;
  color: rgb(29, 36, 48);
}
.nav__contenedor__menu--link:focus {
  background-color: rgba(17, 165, 245, 0.15);
  border-radius: 1rem;
  color: rgb(14, 179, 250);
}
.nav__contenedor__menuIcon {
  padding: 1rem;
  display: none;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menuIcon {
    display: block;
  }
}
.nav__contenedor__menuIcon svg {
  width: 2rem;
  color: rgb(23, 23, 23);
}
.nav__contenedor__menuIcon__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgb(254, 254, 252);
  z-index: -1;
  transition: all 0.5s;
}
.nav__contenedor__menuIcon__circle.active {
  width: 250rem;
  height: 250rem;
  transition: all 0.8s;
}
.nav__contenedor__menucita {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  display: flex;
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menucita--link {
    display: none;
  }
}
.nav__contenedor__menucita--link {
  color: rgb(108, 120, 147);
  font-size: 1.4rem;
  transition: all 0.3s;
}
.nav__contenedor__menucita--link svg {
  width: 1.4rem;
}
.nav__contenedor__menucita--link:hover {
  color: rgb(29, 36, 48);
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menucita--portal {
    display: none;
  }
}
.nav__contenedor__menucita--portal {
  font-size: 1.4rem;
  color: rgb(29, 36, 48);
  padding: 0.9rem 2rem;
  border-color: rgb(28, 56, 56);
  border-radius: 1rem;
  border: 2px solid rgba(29, 36, 48, 0.2);
}
.nav__contenedor__menucita--portal:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}
@media only screen and (max-width: 48em) {
  .nav__contenedor__menucita--cita {
    display: none;
  }
}
.nav__contenedor__menucita--cita {
  color: white;
  font-size: 1.4rem;
  padding: 1rem 2.4rem;
  background-color: rgb(13, 155, 230);
  border-radius: 1rem;
}
.nav__contenedor__menucita--cita:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}

.final {
  background-color: rgb(29, 38, 48);
}
.final__contenedor {
  padding: 6.4rem 3.2rem;
}
.final__contenedor__contenido {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.final__contenedor__contenido article {
  width: calc(25% - 3rem);
}
@media only screen and (max-width: 48em) {
  .final__contenedor__contenido article {
    width: calc(50% - 4rem);
  }
}
@media only screen and (max-width: 36em) {
  .final__contenedor__contenido article {
    width: 100%;
  }
}
.final__contenedor__contenido article img {
  width: 5rem;
  margin-bottom: 2.4rem;
}
.final__contenedor__contenido article p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2.2rem;
}
.final__contenedor__contenido article h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
.final__contenedor__contenido article ul li {
  list-style: none;
  display: flex;
  margin-top: 1.2rem;
  gap: 1rem;
}
.final__contenedor__contenido article ul li a {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
}
.final__contenedor__contenido article ul li p {
  display: flex;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
}
.final__contenedor__contenido article ul li svg {
  width: 1.8rem;
  color: rgb(13, 155, 230);
}
.final__contenedor__contenido__cuarto--icon {
  margin-top: 2.4rem;
  display: flex;
  gap: 2rem;
}
.final__contenedor__contenido__cuarto--icon a {
  display: flex;
  padding: 0.8rem;
  background-color: rgba(249, 250, 252, 0.1);
  border-radius: 1rem;
  gap: 1rem;
  fill: white;
}
.final__contenedor__contenido__cuarto--icon a:hover {
  background-color: rgb(13, 155, 230);
}
.final__contenedor__contenido__cuarto--icon a svg {
  width: 2rem;
}
.final__contenedor__autor {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 3.2rem;
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-between;
}
.final__contenedor__autor p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
}

.nosotros {
  background: linear-gradient(94deg, rgba(1, 212, 255, 0.09) 0%, rgba(0, 212, 255, 0) 17%, rgba(0, 212, 255, 0.09) 100%);
  margin-top: 8.228rem;
}
.nosotros__contenedor__contenido {
  justify-content: center;
  display: flex;
  gap: 6.4rem;
}
.nosotros__contenedor__contenido article {
  width: calc(50% - 3.2rem);
}
@media only screen and (max-width: 48em) {
  .nosotros__contenedor__contenido article {
    width: 100%;
  }
}
@media only screen and (max-width: 36em) {
  .nosotros__contenedor__contenido article {
    width: 100%;
  }
}
.nosotros__contenedor__contenido__izquierda__inicio {
  margin-top: 3.2rem;
}
.nosotros__contenedor__contenido__izquierda__inicio--icon {
  color: rgb(13, 155, 230);
  font-size: 1.4rem;
  background-color: rgba(14, 162, 231, 0.1);
  border-radius: 9rem;
  padding: 0.8rem 1.6rem;
}
.nosotros__contenedor__contenido__izquierda__inicio--icon svg {
  width: 1.4rem;
}
.nosotros__contenedor__contenido__izquierda__inicio--title {
  margin-top: 3.2rem;
  font-size: 7.2rem;
  font-family: "Playfair Display", serif;
}
.nosotros__contenedor__contenido__izquierda__inicio--title--span {
  white-space: nowrap;
  color: rgb(13, 155, 230);
}
.nosotros__contenedor__contenido__izquierda__inicio--frase {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  color: rgb(108, 124, 147);
  font-family: "Inter", sans-serif;
  max-width: 512px;
}
.nosotros__contenedor__contenido__izquierda__menu {
  margin-top: 4.5rem;
  display: flex;
  gap: 2rem;
  width: 100%;
}
.nosotros__contenedor__contenido__izquierda__menu--portal {
  font-size: 1.4rem;
  color: rgb(29, 36, 48);
  padding: 1.8rem 2.4rem;
  border-color: rgb(28, 56, 56);
  border-radius: 1rem;
  border: 2px solid rgba(29, 36, 48, 0.2);
}
.nosotros__contenedor__contenido__izquierda__menu--portal:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}
.nosotros__contenedor__contenido__izquierda__menu--cita {
  display: flex;
  color: white;
  font-size: 1.4rem;
  padding: 1.8rem 2.4rem;
  background-color: rgb(13, 155, 230);
  border-radius: 1rem;
  gap: 1rem;
  align-items: center;
}
.nosotros__contenedor__contenido__izquierda__menu--cita svg {
  width: 2rem;
}
.nosotros__contenedor__contenido__izquierda__conoce {
  margin-top: 5.6rem;
  gap: 3.2rem;
  display: flex;
}
.nosotros__contenedor__contenido__izquierda__conoce__experiencia {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}
.nosotros__contenedor__contenido__izquierda__conoce__experiencia--icon {
  margin-right: 2rem;
  background-color: rgba(13, 155, 230, 0.1);
  padding: 1.3rem;
  border-radius: 1.2rem;
}
.nosotros__contenedor__contenido__izquierda__conoce__experiencia--icon svg {
  width: 2rem;
  color: rgb(13, 155, 230);
}
.nosotros__contenedor__contenido__izquierda__conoce__experiencia h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
.nosotros__contenedor__contenido__izquierda__conoce__experiencia p {
  font-size: 1.2rem;
  color: rgb(108, 124, 147);
}
@media only screen and (max-width: 48em) {
  .nosotros__contenedor__contenido__derecha {
    display: none;
  }
}
.nosotros__contenedor__contenido__derecha__portada {
  position: relative;
}
.nosotros__contenedor__contenido__derecha__portada--imagen {
  border-radius: 2.4rem;
  width: 100%;
  height: 55rem;
  object-fit: cover;
  display: block;
}
.nosotros__contenedor__contenido__derecha__portada__experiencia {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 1.6rem;
  position: absolute;
  bottom: -2.4rem;
  left: -2.4rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.nosotros__contenedor__contenido__derecha__portada__experiencia--icon {
  margin-right: 2rem;
  background-color: rgba(26, 188, 156, 0.15);
  padding: 1.3rem;
  border-radius: 1.2rem;
}
.nosotros__contenedor__contenido__derecha__portada__experiencia--icon svg {
  width: 2.8rem;
  color: rgb(26, 188, 156);
}
.nosotros__contenedor__contenido__derecha__portada__experiencia h3 {
  font-size: 1.6rem;
}
.nosotros__contenedor__contenido__derecha__portada__experiencia p {
  font-size: 1.2rem;
  color: rgb(108, 124, 147);
  font-weight: 300;
  line-height: 1.2rem;
}

.servicios__contenedor__dental {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.servicios__contenedor__dental__tratamiento {
  width: calc(33.333% - 2rem);
  padding: 3.2rem;
  display: flex;
  border: 2px solid rgb(217, 229, 242);
  flex-direction: column;
  border-radius: 1.6rem;
}
.servicios__contenedor__dental__tratamiento--icon {
  background-color: rgba(26, 188, 156, 0.15);
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicios__contenedor__dental__tratamiento--icon svg {
  width: 2.8rem;
  color: rgb(26, 188, 156);
}
.servicios__contenedor__dental__tratamiento--icon svg:hover {
  color: white;
}
.servicios__contenedor__dental__tratamiento--text h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.servicios__contenedor__dental__tratamiento--text p {
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
  font-weight: 300;
  line-height: 2.3rem;
}
@media only screen and (max-width: 62em) {
  .servicios__contenedor__dental__tratamiento {
    width: calc(50% - 1.5rem);
    display: flex;
  }
}
@media only screen and (max-width: 48em) {
  .servicios__contenedor__dental__tratamiento {
    width: 100%;
  }
}
@media only screen and (max-width: 36em) {
  .servicios__contenedor__dental__tratamiento {
    width: 100%;
  }
}
.servicios__contenedor__enlace {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios__contenedor__enlace--linkes {
  color: black;
  background-color: white;
  border: 2px solid rgb(223, 230, 236);
  gap: 1rem;
  font-size: 1.4rem;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  margin-top: 4.8rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.servicios__contenedor__enlace--linkes:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}
.servicios__contenedor__enlace--linkes svg {
  width: 2rem;
}

.eligenos {
  background: #01D4FF;
  background: linear-gradient(6deg, rgba(1, 212, 255, 0.05) 0%, rgba(0, 212, 255, 0) 17%, rgba(0, 212, 255, 0.09) 100%);
}
.eligenos__contenedor__contenido {
  padding-bottom: 1rem;
  display: flex;
  gap: 6.4rem;
}
.eligenos__contenedor__contenido__col {
  width: calc(100% - 3.2rem);
}
@media only screen and (max-width: 48em) {
  .eligenos__contenedor__contenido {
    flex-direction: column;
  }
}
.eligenos__contenedor__contenido__izquierda__inicio h3 {
  color: rgb(13, 155, 230);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}
.eligenos__contenedor__contenido__izquierda__inicio--title {
  margin-top: 1.2rem;
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
  gap: 1rem;
}
.eligenos__contenedor__contenido__izquierda__inicio--title--span {
  white-space: nowrap;
  color: rgb(13, 155, 230);
}
.eligenos__contenedor__contenido__izquierda__inicio p {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: rgb(108, 124, 147);
  font-family: "Inter", sans-serif;
}
.eligenos__contenedor__contenido__izquierda__conoce {
  margin-top: 5.6rem;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
}
.eligenos__contenedor__contenido__izquierda__conoce__experiencia {
  display: flex;
  align-items: center;
}
.eligenos__contenedor__contenido__izquierda__conoce__experiencia span {
  margin-right: 2rem;
  background-color: rgba(13, 155, 230, 0.1);
  padding: 1.3rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.eligenos__contenedor__contenido__izquierda__conoce__experiencia span i {
  width: 2rem;
  color: rgb(13, 155, 230);
}
.eligenos__contenedor__contenido__izquierda__conoce__experiencia--text h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
.eligenos__contenedor__contenido__izquierda__conoce__experiencia--text p {
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
}
.eligenos__contenedor__contenido__derecha__imagen {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.eligenos__contenedor__contenido__derecha__imagen img {
  border-radius: 2.4rem;
  width: 24.4rem;
  height: 25.6rem;
  object-fit: cover;
}

.testimonios__contenedor__escrito {
  max-width: 67.2rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6.4rem;
}
.testimonios__contenedor__escrito h3 {
  color: rgb(13, 155, 230);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}
.testimonios__contenedor__escrito h1 {
  margin-top: 1.2rem;
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
}
.testimonios__contenedor__cuadros {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.testimonios__contenedor__cuadros__valor {
  width: calc(33.333% - 2rem);
  padding: 3.2rem;
  display: flex;
  border: 2px solid rgb(217, 229, 242);
  flex-direction: column;
  border-radius: 1.6rem;
  position: relative;
}
.testimonios__contenedor__cuadros__valor--icono {
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.testimonios__contenedor__cuadros__valor--icono svg {
  width: 8rem;
  fill: rgba(13, 155, 230, 0.2);
}
.testimonios__contenedor__cuadros__valor__numero {
  display: flex;
  margin-bottom: 1.6rem;
}
.testimonios__contenedor__cuadros__valor__numero--icon {
  display: flex;
}
.testimonios__contenedor__cuadros__valor__numero--icon svg {
  width: 2rem;
  fill: #fbbf24;
}
.testimonios__contenedor__cuadros__valor__numero--icon--icono {
  display: flex;
}
.testimonios__contenedor__cuadros__valor__numero--icon--icono svg {
  width: 2rem;
  fill: #fbbf24;
}
.testimonios__contenedor__cuadros__valor p {
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
  margin-bottom: 2.4rem;
  font-family: "Inter", sans-serif;
  line-height: 2.3rem;
}
.testimonios__contenedor__cuadros__valor__perfil {
  display: flex;
  align-items: center;
}
.testimonios__contenedor__cuadros__valor__perfil--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  background-color: rgba(13, 155, 230, 0.15);
  padding: 1rem;
  border-radius: 50%;
}
.testimonios__contenedor__cuadros__valor__perfil--icon svg {
  width: 2rem;
  color: rgb(13, 155, 230);
}
.testimonios__contenedor__cuadros__valor__perfil--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonios__contenedor__cuadros__valor__perfil--text h3 {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 0.3rem;
}
.testimonios__contenedor__cuadros__valor__perfil--text p {
  font-size: 1.2rem;
  color: rgb(108, 124, 147);
  font-weight: 300;
  margin: 0;
  line-height: 1.2;
}
@media only screen and (max-width: 62em) {
  .testimonios__contenedor__cuadros__valor {
    width: calc(50% - 1.5rem);
    display: flex;
  }
}
@media only screen and (max-width: 48em) {
  .testimonios__contenedor__cuadros__valor {
    width: 100%;
  }
}
@media only screen and (max-width: 36em) {
  .testimonios__contenedor__cuadros__valor {
    width: 100%;
  }
}
.testimonios__contenedor__enlace {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonios__contenedor__enlace--linkes {
  color: black;
  background-color: white;
  border: 2px solid rgb(223, 230, 236);
  gap: 1rem;
  font-size: 1.4rem;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  margin-top: 4.8rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.testimonios__contenedor__enlace--linkes:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}
.testimonios__contenedor__enlace--linkes svg {
  width: 2rem;
}

.cita {
  background: linear-gradient(0deg, rgba(0, 208, 250, 0.24) 0%, rgba(1, 212, 255, 0.34) 37%, rgba(13, 213, 254, 0.6) 96%), url(../../../img/entrada.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cita__contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
.cita__contenedor--text {
  max-width: 83.2rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6.4rem;
}
.cita__contenedor--text h1 {
  color: white;
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
}
.cita__contenedor--text p {
  margin-top: 1.6rem;
  margin: 2.4rem 8rem 0rem 8rem;
  font-size: 1.8rem;
  color: rgb(108, 124, 147);
  font-family: "Inter", sans-serif;
}
.cita__contenedor__menu {
  margin-top: 4.5rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.cita__contenedor__menu--llamar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: rgb(13, 155, 230);
  background-color: white;
  padding: 1.8rem 5.4rem;
  border-color: rgb(28, 56, 56);
  border-radius: 1rem;
  border: 2px solid rgba(184, 204, 238, 0.2);
}
.cita__contenedor__menu--llamar:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}
.cita__contenedor__menu--llamar svg {
  width: 2rem;
}
.cita__contenedor__menu--cita {
  display: flex;
  color: rgb(13, 155, 230);
  font-size: 1.4rem;
  padding: 1.8rem 5.4rem;
  background-color: white;
  border-radius: 1rem;
  gap: 1rem;
  align-items: center;
  border: 2px solid rgba(29, 36, 48, 0.2);
}
.cita__contenedor__menu--cita:hover {
  color: white;
  background-color: rgb(26, 188, 156);
}
.cita__contenedor__menu--cita svg {
  width: 2rem;
}

.portal {
  background: linear-gradient(94deg, rgba(1, 212, 255, 0.09) 0%, rgba(0, 212, 255, 0) 17%, rgba(0, 212, 255, 0.09) 100%);
  margin-top: 8.228rem;
}
.portal__contenedor {
  max-width: 44.8rem;
}
.portal__contenedor__contenido {
  justify-content: center;
  text-align: center;
  display: grid;
}
.portal__contenedor__contenido__text {
  margin-bottom: 4rem;
}
.portal__contenedor__contenido__text h1 {
  font-size: 3rem;
  color: #1d2530;
  margin-bottom: 0.8rem;
}
.portal__contenedor__contenido__text p {
  font-size: 1.7rem;
  color: #6c7c93;
}
.portal__contenedor__contenido__login {
  gap: 1.6rem;
  text-align: center;
  display: grid;
}
.portal__contenedor__contenido__login div h3 {
  color: #1d2530;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}
.portal__contenedor__contenido__login div p {
  color: #6c7c93;
  font-size: 1.4rem;
}
.portal__contenedor__contenido__login__paciente {
  background-color: white;
  justify-content: center;
  align-items: center;
  max-width: 44.8rem;
  padding: 3.2rem;
  display: flex;
  border: 2px solid rgb(217, 229, 242);
  flex-direction: column;
  border-radius: 1.6rem;
  transition: all 0.3s;
}
.portal__contenedor__contenido__login__paciente:hover {
  border: 2px solid rgb(61, 181, 205);
  transform: scale(1.02);
}
.portal__contenedor__contenido__login__paciente span {
  width: 6.4rem;
  height: 6.4rem;
}
.portal__contenedor__contenido__login__paciente span i {
  font-size: 3.2rem;
}
.portal__contenedor__contenido__login__paciente--link {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login {
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login__contenedor {
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  text-align: center;
  max-width: 44.8rem;
  padding: 4.8rem 4rem 4rem 4rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
  background-color: white;
}
.login__contenedor img {
  width: 9.2rem;
}
.login__contenedor h1 {
  margin-top: 3.2rem;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 700;
}
.login__contenedor p {
  padding-top: 1.2rem;
  font-size: 1.6rem;
  color: rgb(100, 116, 139);
  font-weight: 500;
}
.login__contenedor__sesion__crear {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__contenedor__sesion__crear a {
  color: rgb(100, 116, 139);
  font-size: 1.4rem;
}

.auth {
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.auth__contenedor {
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  text-align: center;
  width: 44.8rem;
  padding: 4.8rem 4rem 4rem 4rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
  background-color: white;
}
.auth__contenedor img {
  width: 9.2rem;
}
.auth__contenedor h1 {
  margin-top: 3.2rem;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 700;
}

.forgot {
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.forgot__contenedor {
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  text-align: center;
  max-width: 44.8rem;
  padding: 4.8rem 4rem 4rem 4rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
  background-color: white;
}
.forgot__contenedor img {
  width: 9.2rem;
}
.forgot__contenedor h1 {
  margin-top: 3.2rem;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 700;
}
.forgot__contenedor p {
  padding-top: 1.2rem;
  font-size: 1.6rem;
  color: rgb(100, 116, 139);
  font-weight: 500;
}
.forgot__contenedor__redirect {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot__contenedor__redirect a {
  color: rgb(100, 116, 139);
  font-size: 1.4rem;
}

.paciente {
  background: #0DD5FE;
  background: linear-gradient(0deg, rgba(13, 213, 254, 0.04) 0%, rgba(13, 213, 254, 0.04) 37%, rgba(13, 213, 254, 0.06) 96%);
}
.paciente__contenedor__contenido {
  margin-top: 4rem;
}
.paciente__contenedor__contenido__text {
  margin-bottom: 3.2rem;
}
.paciente__contenedor__contenido__text h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.paciente__contenedor__contenido__text p {
  margin-top: 0.4rem;
  color: #6c7c93;
  font-size: 1.5rem;
}
.paciente__contenedor__contenido__cantidad {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.paciente__contenedor__contenido__cantidad__primero {
  text-align: center;
  border-radius: 1.2rem;
  background-color: white;
  flex: 1;
  padding: 1.6rem;
  border: 1px solid #dfe6ec;
}
.paciente__contenedor__contenido__cantidad__primero h1 {
  font-size: 2.4rem;
  color: rgb(13, 155, 230);
  line-height: 3.2rem;
}
.paciente__contenedor__contenido__cantidad__primero p {
  font-size: 1.2rem;
  color: #6c7c93;
  margin-top: 0.4rem;
}
.paciente__contenedor__contenido__citas {
  display: flex;
  gap: 2.4rem;
}
.paciente__contenedor__contenido__citas h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.paciente__contenedor__contenido__citas__cliente {
  flex: 2;
}
.paciente__contenedor__contenido__citas__cliente__orden {
  display: flex;
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 2px solid #dfe6ec;
  background-color: white;
  cursor: pointer;
}
.paciente__contenedor__contenido__citas__cliente__orden__info--primero {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  gap: 0.8rem;
}
.paciente__contenedor__contenido__citas__cliente__orden__info--primero span {
  font-size: 1.4rem;
}
.paciente__contenedor__contenido__citas__cliente__orden__info--segundo {
  display: flex;
  gap: 1.6rem;
}
.paciente__contenedor__contenido__citas__cliente__orden__info--segundo span {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #6c7c93;
}
.paciente__contenedor__contenido__citas__cliente__orden__info--segundo span i {
  font-size: 1.4rem;
}
.paciente__contenedor__contenido__citas__cliente__orden__info--segundo span p {
  font-size: 1.4rem;
}
.paciente__contenedor__contenido__citas__cliente__orden i {
  font-size: 1.6rem;
  color: #6c7c93;
  margin-left: auto;
}
.paciente__contenedor__contenido__citas__cliente__orden:hover {
  background-color: #f7fafc;
  border-color: rgba(13, 155, 230, 0.5);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}
.paciente__contenedor__contenido__citas__cliente__orden:active {
  border-color: rgb(13, 155, 230);
}
.paciente__contenedor__contenido__citas__cliente__orden:focus {
  border-color: rgb(13, 155, 230);
}
.paciente__contenedor__contenido__citas__detalle {
  flex: 1;
}
.paciente__contenedor__contenido__citas__detalle__empty {
  text-align: center;
  border-radius: 1.2rem;
  flex: 1;
  padding: 3.2rem;
  line-height: 2.2rem;
  background-color: white;
  border: 2px solid #dfe6ec;
}
.paciente__contenedor__contenido__citas__detalle__empty p {
  font-size: 1.4rem;
  color: #6c7c93;
}
.paciente__contenedor__contenido__citas__detalle__cliente--text {
  border: 2px solid #dfe6ec;
  border-radius: 1.2rem;
  padding: 2.4rem;
  background-color: white;
}
.paciente__contenedor__contenido__citas__detalle__cliente--text h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.paciente__contenedor__contenido__citas__detalle__cliente--text p {
  font-size: 1.4rem;
  color: #6c7c93;
}
.paciente__contenedor__contenido__citas__detalle__cliente .black {
  color: #262626;
}
.paciente__contenedor__contenido__citas__detalle__cliente .otro {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
  color: #262626;
}
.paciente__contenedor__contenido__citas__detalle__cliente .otro i {
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(13, 155, 230, 0.1);
  font-size: 2rem;
  color: rgb(13, 155, 230);
}

.generarcita__contenedor {
  padding: 0 3.2rem;
  gap: 4.8rem;
  display: flex;
}
.generarcita__contenedor__primero {
  flex: 2;
}
.generarcita__contenedor__primero__contiene {
  background-color: white;
  border-radius: 1.2rem;
  padding: 3.2rem;
  border: 1px solid #dfe6ec;
}
.generarcita__contenedor__primero__contiene__cuadros {
  gap: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.generarcita__contenedor__primero__contiene__cuadros__espe {
  background-color: white;
  border-radius: 1.2rem;
  padding: 1.6rem;
  border: 2px solid #dfe6ec;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}
.generarcita__contenedor__primero__contiene__cuadros__espe:hover {
  border-color: rgba(13, 162, 231, 0.5);
}
.generarcita__contenedor__primero__contiene__cuadros__espe:focus {
  background-color: rgba(17, 165, 245, 0.15);
  border-radius: 1.2rem;
  border-color: rgb(13, 155, 230);
  outline: none;
}
.generarcita__contenedor__primero__contiene__cuadros__espe__icon {
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(13, 155, 230, 0.1);
}
.generarcita__contenedor__primero__contiene__cuadros__espe__icon i {
  font-size: 2rem;
  color: rgb(13, 155, 230);
}
.generarcita__contenedor__primero__contiene__cuadros__espe__text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.generarcita__contenedor__primero__contiene__cuadros__espe__text--uno {
  color: #1d2530;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}
.generarcita__contenedor__primero__contiene__cuadros__espe__text--dos {
  color: rgb(108, 124, 147);
  font-size: 1.2rem;
  line-height: 2rem;
}
.generarcita__contenedor__primero__contiene__cuadros__espe .hola {
  font-size: 1.6rem;
  color: rgb(13, 155, 230);
  display: none;
}
.generarcita__contenedor__primero__contiene__cuadros__espe.active {
  border-color: rgb(13, 155, 230);
  background-color: rgba(17, 165, 245, 0.15);
}
.generarcita__contenedor__primero__contiene__cuadros__espe.active .hola {
  display: block;
}
.generarcita__contenedor__primero__pregunta {
  background-color: white;
  border-radius: 1.2rem;
  padding: 3.2rem;
  border: 1px solid #dfe6ec;
}
.generarcita__contenedor__primero__pregunta__datos {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  display: grid;
}
.generarcita__contenedor__primero__pregunta__datos__campo {
  display: flex;
  flex-direction: column;
  position: relative;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__boton {
  color: rgb(108, 124, 147);
  font-size: 1.4rem;
  background-color: rgba(248, 250, 252, 0.5);
  margin-top: 0.6rem;
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  line-height: 2rem;
  gap: 0.8rem;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: border-color 0.2s ease;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__boton.active {
  border-color: rgb(13, 155, 230);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista {
  background-color: rgb(248, 250, 252);
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 1rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header {
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .derecha, .generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .izquierda {
  color: rgb(108, 124, 147);
  background-color: rgba(248, 250, 252, 0.5);
  margin-top: 0.6rem;
  padding: 0.2rem;
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 0.8rem;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .derecha i, .generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .izquierda i {
  padding: 0.4rem;
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
  cursor: pointer;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .derecha:hover, .generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .izquierda:hover {
  background-color: rgb(26, 188, 156);
  color: rgb(255, 255, 255);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .derecha:active, .generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .izquierda:active {
  background-color: rgb(13, 155, 230);
  color: rgb(255, 255, 255);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__header .mes-titulo {
  font-size: 1.4rem;
  color: rgb(51, 58, 68);
  font-weight: 600;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.3s;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista ul:focus {
  border-color: rgb(13, 155, 230);
  transition: all 0.2s;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista ul li {
  text-align: center;
  padding: 0.8rem 0rem;
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista ul li.active {
  background-color: rgba(13, 155, 230, 0.1);
  color: rgb(13, 155, 230);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__grid {
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem;
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__grid .day {
  text-align: center;
  padding: 1rem 0;
  border-radius: 0.8rem;
  cursor: pointer;
  color: rgb(108, 124, 147);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__grid .day:hover {
  background-color: rgb(26, 188, 156);
  color: rgb(255, 255, 255);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista__grid .day.active {
  background-color: rgb(13, 155, 230);
  color: rgb(255, 255, 255);
}
.generarcita__contenedor__primero__pregunta__datos__campo .calendario__lista.active {
  opacity: 1;
  visibility: visible;
}
.generarcita__contenedor__primero__pregunta__nota__campo textarea {
  resize: vertical;
  min-height: 100px;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  font-family: inherit;
}
.generarcita__contenedor__primero__pregunta__anuncio {
  display: none;
  padding: 1.2rem;
  gap: 1.2rem;
  background-color: rgba(17, 165, 245, 0.15);
  border-radius: 1.2rem;
  align-items: center;
}
.generarcita__contenedor__primero__pregunta__anuncio i {
  font-size: 2rem;
  color: rgb(13, 155, 230);
}
.generarcita__contenedor__primero__pregunta__anuncio p {
  font-size: 1.4rem;
}
.generarcita__contenedor__primero__pregunta__anuncio p span {
  font-weight: 600;
  color: rgb(13, 155, 230);
}
.generarcita__contenedor__primero__pregunta__anuncio.active {
  display: flex;
}
.generarcita__contenedor__primero__pregunta__boton {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: rgb(13, 155, 230);
  border: none;
}
.generarcita__contenedor__primero__pregunta__boton:enabled {
  cursor: pointer;
  opacity: 1;
}
.generarcita__contenedor__primero__pregunta__boton::enabled:hover {
  filter: brightness(1.08);
}
.generarcita__contenedor__segundo {
  flex: 1;
  border-radius: 1.2rem;
}
.generarcita__contenedor__segundo h3 {
  font-size: 1.8rem;
  color: black;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.generarcita__contenedor__segundo .primero {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0.5rem;
}
.generarcita__contenedor__segundo .segundo {
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
  font-weight: 300;
}
.generarcita__contenedor__segundo__info {
  background-color: white;
  border-radius: 1.2rem;
  padding: 3.2rem;
  border: 1px solid #dfe6ec;
  flex-direction: column;
  gap: 2rem;
}
.generarcita__contenedor__segundo__info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.generarcita__contenedor__segundo__info ul li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: rgb(13, 155, 230);
}
.generarcita__contenedor__segundo__info ul li div {
  align-items: center;
}
.generarcita__contenedor__segundo__info ul li i {
  font-size: 2rem;
  background-color: rgba(13, 155, 230, 0.1);
  padding: 1rem;
  border-radius: 1rem;
}
.generarcita__contenedor__segundo__bono {
  background-color: rgba(17, 165, 245, 0.15);
  padding: 3.2rem;
  border-radius: 1.2rem;
  margin-top: 2.4rem;
}

.servis {
  background: linear-gradient(94deg, rgba(1, 212, 255, 0.09) 0%, rgba(0, 212, 255, 0) 17%, rgba(0, 212, 255, 0.09) 100%);
}
.servis__contenedor__servicios__primero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  background-color: rgb(255, 255, 255);
}
.servis__contenedor__servicios__primero__contenido .tamaño i {
  background-color: rgba(13, 155, 230, 0.1);
  border-radius: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(13, 155, 230);
  font-size: 2.5rem;
}
.servis__contenedor__servicios__primero__contenido h2 {
  margin-bottom: 1.6rem;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}
.servis__contenedor__servicios__primero__contenido p {
  font-size: 1.8rem;
  color: rgb(108, 124, 147);
  font-weight: 300;
  line-height: 2.3rem;
  margin-bottom: 3.2rem;
}
.servis__contenedor__servicios__primero__contenido .lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-bottom: 3.5rem;
}
.servis__contenedor__servicios__primero__contenido .lista span {
  font-size: 1.4rem;
}
.servis__contenedor__servicios__primero__contenido .lista span i {
  color: rgb(26, 188, 156);
  background-color: rgba(26, 188, 156, 0.15);
  border-radius: 50%;
  padding: 0.3rem;
}
.servis__contenedor__servicios__primero__contenido a {
  display: inline-flex;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  gap: 2rem;
  align-items: center;
  line-height: 2rem;
}
.servis__contenedor__servicios__primero__imagen {
  width: 100%;
  height: 32rem;
  position: relative;
  box-shadow: 0 0 40px 30px rgba(188, 225, 244, 0.5);
  border-radius: 1.6rem;
}
.servis__contenedor__servicios__primero__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 26.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 75em) {
  .contenedor {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 62em) {
  .contenedor {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 48em) {
  .contenedor {
    max-width: 54rem;
  }
}
@media only screen and (max-width: 36em) {
  .contenedor {
    max-width: 36rem;
  }
}
@media only screen and (max-width: 26.25em) {
  .contenedor {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.btn {
  font-size: 1.2rem;
  text-decoration: uppercase;
  padding: 1.5rem 3.5rem;
  display: flex;
  align-items: center;
}

.icono {
  background-color: rgba(13, 155, 230, 0.15);
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icono svg {
  width: 2.8rem;
  color: rgb(13, 155, 230);
}
.icono svg:hover {
  color: white;
}

.btnceleste {
  color: white;
  background-color: rgb(13, 155, 230);
  border-radius: 1rem;
}
.btnceleste:hover {
  color: white;
  background-color: rgb(14, 167, 240);
}

.btnverde {
  color: white;
  background-color: rgb(26, 188, 156);
  border-radius: 1rem;
}
.btnverde:hover {
  color: white;
  background-color: rgb(27, 200, 166);
}

.verde span {
  background-color: rgba(26, 188, 156, 0.15);
  border-radius: 1.6rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verde span i {
  color: rgb(26, 188, 156);
}

.celeste span {
  background-color: rgba(13, 155, 230, 0.1);
  border-radius: 1.6rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.celeste span i {
  color: rgb(13, 155, 230);
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.formGroup:not(:last-child) {
  margin-bottom: 2rem;
}
.formGroup label {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(51, 65, 85);
  font-weight: 500;
}
.formGroup input,
.formGroup textarea,
.formGroup select {
  background-color: rgba(248, 250, 252, 0.5);
  margin-top: 0.6rem;
  outline: 0;
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  line-height: 2rem;
}
.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  border-color: rgb(10, 10, 10);
  transition: all 0.2s;
}
.formGroup button {
  justify-content: center;
  border-radius: 1rem;
  background-color: rgb(15, 23, 42);
  color: white;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.form:not(:last-child) {
  margin-bottom: 2rem;
}
.form label {
  font-size: 1.4rem;
  color: rgb(51, 65, 85);
  font-weight: 500;
}
.form input,
.form textarea,
.form select {
  background-color: rgba(248, 250, 252, 0.5);
  margin-top: 0.6rem;
  outline: 0;
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  line-height: 2rem;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  border-color: rgb(13, 155, 230);
  transition: all 0.2s;
}

.orden {
  color: rgb(161, 98, 7);
  background-color: rgb(254, 249, 195);
  font-size: 1.4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.orden:hover {
  background-color: rgb(249, 243, 179);
}

.text {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6.4rem;
}
.text h3 {
  color: rgb(13, 155, 230);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}
.text h1 {
  margin-top: 1.2rem;
  font-size: 6rem;
  font-family: "Playfair Display", serif;
}
.text p {
  margin: 1.6rem auto 0 auto;
  font-size: 1.8rem;
  color: rgb(108, 124, 147);
  font-family: "Inter", sans-serif;
  max-width: 67.2rem;
}

.elige-odontologo h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.4rem;
}
.elige-odontologo h2 span {
  background-color: rgb(13, 155, 230);
  font-size: 1.4rem;
  color: white;
  border-radius: 100%;
  padding: 0.5rem 1rem;
}
.elige-odontologo p {
  margin: 0 0 2.4rem 3.8rem;
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
}

.select div {
  color: rgb(108, 124, 147);
  font-size: 1.4rem;
  background-color: rgba(248, 250, 252, 0.5);
  margin-top: 0.6rem;
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  align-items: center;
  line-height: 2rem;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  transition: border-color 0.2s ease;
}
.select div.active {
  border-color: rgb(13, 155, 230);
}
.select ul {
  background-color: rgb(248, 250, 252);
  border: 0.1rem solid rgb(226, 232, 240);
  border-radius: 1rem;
  list-style: none;
  padding: 0.5rem;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
  z-index: 1;
  top: 100%;
  cursor: pointer;
}
.select ul:focus {
  border-color: rgb(13, 155, 230);
  transition: all 0.2s;
}
.select ul li {
  justify-content: space-between;
  display: flex;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  color: rgb(108, 124, 147);
}
.select ul li:hover {
  background-color: rgba(13, 155, 230, 0.1);
  color: rgb(13, 155, 230);
  border-radius: 1rem;
}
.select ul li.active {
  background-color: rgba(13, 155, 230, 0.1);
  color: rgb(13, 155, 230);
}
.select ul.active {
  opacity: 1;
  visibility: visible;
}

.error {
  color: red;
  font-size: 1.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

/*# sourceMappingURL=estilos.css.map */
