.auth{
    margin-top: 8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    &__contenedor {
        border: .1rem solid rgba(0, 0, 0, 0.05);
        border-radius: 3rem;
        text-align: center;
        width: 44.8rem;
        padding: 4.8rem 4rem 4rem 4rem;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
        background-color: white;
        img {
            width: 9.2rem;
        }
        h1{
            margin-top: 3.2rem;
            font-size: 3rem;
            line-height: 3.6rem;
            font-weight: 700;
        }
    }
}